
<div class="back">
    <div *ngIf="loading;else card">
        <mat-spinner class="center"></mat-spinner>
    </div>
    <ng-template #card>
        <mat-card class="profile-card" >
            <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{firstname}} {{lastname}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src={{photo}} alt="Photo of a Shiba Inu">
            <mat-card-content>
            <p>
            {{email}}
            </p>
            </mat-card-content>
            <mat-card-actions>
            <button color="primary" mat-raised-button [routerLink]="['']">Back</button>
            </mat-card-actions>
        </mat-card>
    </ng-template>
</div>
<router-outlet></router-outlet>